body {
    background-image: url("./thumbnail_Yellow Modern Abstract Modern Resume.jpg");
    background-size: cover;
    font-family: "Comic Sans MS", sans-serif;
    text-align: justify;
}

.title-bar{
    cursor: pointer;
    background-color: #7a9ae4;
    color: #191d37;
    border-radius: 50px;
    padding: 1%;
    margin: 1%;
    border: solid 2px rgba(166, 211, 255, 0.9);
    font-weight: bold;
}

.title-bar:hover{
    animation: 1s title-bar-hover forwards;
}
@keyframes title-bar-hover{
    from{
        background-color: #7a9ae4;
        color: #191d37;
    }
    to{
        background-color: #191d37;
        color: #7a9ae4;
    }
}
.contenu-motivations{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(166, 211, 255, 0.9);
    border-radius: 50px;
    border-right: black 2px solid;
    border-left: black 2px solid;
}
@media (min-width: 1024px) {
    .contenu-motivations{
        margin-right: 20%;
        margin-left: 20%;
    }
}
input[id="Formation"], input[id="Parcours-pro"], input[id="Soft_skills"],
input[id="Certifications"], input[id="Réseaux"], input[id="Contact"],
input[id="Hard_skills"]{
    display:none;
}
input:checked + label + .contenu,
input:not(:checked) + label + .contenu{
    display: flex;
    justify-content: center;
    background-color: rgba(166, 211, 255, 0.9);
    border-radius: 50px;
    border-right: black 2px solid;
    border-left: black 2px solid;
}
input:checked + label + .contenu{
    transform: scaleY(1);
    max-height: 100vh;
    transition: all ease-in-out 0.5s;
}
input:not(:checked) + label + .contenu{
    transform: scaleY(0);
    max-height: 0;
    transition: all ease-in-out 0.5s;
}

input:not(:checked) + .title-bar:after,
input:checked + .title-bar:after{
    content: "";
    margin-right: 5%;
    margin-top: 1%;
    border-radius: 4px;
    float: right;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transition: all ease-in-out 0.5s;
}
input:not(:checked) + .title-bar:after{
    transform: rotate(-45deg);
}
input:checked + .title-bar:after{
    transform: rotate(135deg);
    margin-top: 3%;
}
input:checked + .title-bar:hover:after,
input:not(:checked) + .title-bar:hover:after{
    border-color: white;
}
.container-main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 10%;
}

.main-page {
    background-color: rgba(166, 211, 255, 0.9);
    padding: 1%;
    border-radius: 50px;
}

@media all and (max-width: 1024px) {
    .main-page {
    }
    .flex-column-menu > .flex-row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .space-bottom-mobile-device {
        margin-bottom: 1em;
    }
    .flex-column-CV{
        margin-right: 0;
        margin-left: 0;
    }
    .flex-container-row{
        flex-direction: column;
    }
    .b1{
        flex-direction: column-reverse;
        border-bottom: black 2px solid;
    }
    .title-bar{
        font-size: 1.5em;
    }
    .image-menu {
        display: flex;
        margin-bottom: 20%;
        border-radius: 100%;
    }
}
@media all and (min-width: 1024px) {
    .flex-column-CV {
        margin-right: 25%;
        margin-left: 25%;
    }
    .b1{
        border-right: black 2px solid;
    }
    .title-bar{
        font-size: 2.5em;
    }
    .flex-container-row{
        flex-wrap: nowrap;
    }
    .image-menu {
        display: flex;
        border-radius: 100%;
        margin: 5em;
    }
}

.button-CV{
    margin-left: 38%;
    padding: 2%;
    border-radius: 50px;
    text-decoration:  none;
    align-items: center;
    background-color: rgba(166, 211, 255, 0.9);
}
.button-CV:hover{
    background-color: rgba(166, 211, 255, 0.9);
    transition: all ease-in-out 0.5s;
}

.flex-container-row{
    display: flex;
    justify-content: center;
}
.image {
    border-radius: 50%;
}

.flex-column-CV {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.flex-column-menu{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.b1 {
    padding: 25px;
}

.b2 {
    padding: 25px;
}

.block-competence {
    display: flex;
    justify-content: center;
    border-bottom: dashed black 2px;
    text-align: center;
}
.last-block-competence {
    display: flex;
    justify-content: center;
    text-align: center;
}

.animation-right {
    position: relative;
    animation: 1s right;
    animation-timing-function: ease-out;
}

@keyframes right {
    from {
        left: 20%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.animation-left {
    position: relative;
    animation: 1s left;
    animation-timing-function: ease-out;
}

@keyframes left {
    from {
        right: 20%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.button {
    display: block;
    text-decoration: none;
    background-color: rgb(69, 123, 195);
    color: white;
    border-radius: 10px;
    padding: 20px;
    border: solid 2px rgb(69, 123, 195);
    font-size: 1.5em;
}

.button:hover {
    animation: 1s animation-button;
    animation-fill-mode: forwards;
}

@keyframes animation-button {
    from {
        background-color: rgb(69, 123, 195);
        color: white
    }
    to {
        background-color: white;
        color: black
    }
}

.title-index {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 15%;
}
.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.link {
    text-decoration: none;
    font-style: italic;
}

.foot-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 10%;
    margin-top: 10%;
    justify-content: space-evenly;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked + .toolbar,
input:not(:checked) + .toolbar {
    position: relative;
    top: 40px;
    padding: 30px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.toolbar:before, .toolbar:after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}
.toolbar:after {
    transform: rotate(-90deg);
}
input:checked + .toolbar{
    transform: rotate(45deg);
}
a{
    text-decoration: none;
}
input:checked + label ~ a{
    transform: scale(1);
    margin: 1%;
    position: relative;
    list-style-type: none;
    content: "";
    top: 40px;
    padding: 20px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
input:not(:checked) + label ~ a {
    transform: scale(0);
    position: absolute;
    display: inline;
}
input:checked + label ~ a:hover{
    transform: scale(1.1);
}
