.toolbar {
    position: relative;
    top: 40px;
    padding: 30px;
    background: #e8e8f3;
    border-radius: 100%;
    cursor: pointer;
}
.toolbar::before, .toolbar::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 5px;
    position: absolute;
    left: 16px;
    top: 27px;
    transition: 0.2s ease;
    z-index: 1;
}
.toolbar::before {
    transform: rotate(0deg);
}
.toolbar::after {
    transform: rotate(-90deg);
}
.toolbar.open {
    opacity: 0.9;
}
.toolbar.open::before {
    transform: rotate(45deg);
}
.toolbar.open::after {
    transform: rotate(-45deg);
}
.toolbar.open .element-toolbar {
    opacity: 1;
    pointer-events: auto;
}
.toolbar.open .element-toolbar:first-of-type {
    bottom: -40px;
    right: 70px;
    background: url("https://bassets.github.io/cam.svg") no-repeat 50%/50% #e8e8f3;
}
.toolbar.open .element-toolbar:nth-of-type(2) {
    bottom: -110px;
    right: -20px;
    background: url("https://bassets.github.io/img.svg") no-repeat 50%/50% #e8e8f3;
    transition-delay: 0.05s;
}
.toolbar.open .element-toolbar:last-of-type {
    bottom: -40px;
    right: -150px;
    background: url("https://bassets.github.io/music.svg") no-repeat 50% 45%/50% 45% #e8e8f3;
    transition-delay: 0.1s;
}

.element-toolbar {
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: #e8e8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    box-shadow: inherit;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.element-toolbar:hover {
    transform: scale(1.1);
}